* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: rgb(240, 255, 242);
}

header {
  display: flex;
  justify-content: space-between;
  margin-left: 19%;
}

.links {
  font-size: 40px;
  margin-right: 1px;
  float: right;
  flex-wrap: wrap;
  justify-content: end;
  width: 80%;
  display: flex;
}

nav a {
  display: flexbox;
  padding: 35px;
  flex-wrap: wrap;
  text-decoration: none;
  color: rgb(162, 184, 18);
}

h1 {
  font-size: 40px;
  /* margin-left: 19%; */
  padding-bottom: 1px;
}

#profile {
  display: inline;
  max-width: 100%;
}


main {
  max-width: 100%;
  padding: 0px;
  border: 0px;
  margin-left: 19%;
}

section {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

p {
  font-size: 24px;
}

.projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.projects a {
  display: block;
}

.projects a img {
  height: 350px;
  width: 700px;
}

#javascript {
  height: 500px;
  width: 700px;
}

#api {
  height: 500px;
}

h2 {
  font-size: 28px;
  margin-bottom: 16px;
  text-align: center;
}

@media screen and (max-width: 1000px) {
  body, h2 {
    color: white;
    background-color: black;
  }
}